{% extends 'auth/logged_out_base.html' %}

{% block css %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/register.css') }}">{% endblock %}

{% block title %} Register {% endblock %}

{% block content %}
    <div  id="container">
        <form action="#" method="post" novalidate id="form">
            
            <h1 id="login">REIGSTER</h1>

            <div id="names">
                {{form.firstName(placeholder='First Name')}}
                {{form.lastName(placeholder='Last Name')}}
            </div>

            <div id="username">
                {{form.username(placeholder='Username')}}
            </div>

            <div id="password">
                {{form.password(placeholder='Password')}} 
            </div>

            <div id="submitField">
                {{ form.submit()}}
            </div>

        </form>

        
        <div id="photo">
            <img src="{{ url_for('static',filename='images/registerImage.png') }}" alt="Teamwork Images" id="registerImage">
        </div>

    </div>
{% endblock %}
