{% extends 'base.html' %}

{% block title %}Employees{% endblock %}

{% block static %} 
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/employees.css') }}">

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script type="module" src="{{ url_for('static',filename='scripts/employees/employees-grid.js') }}" id="employees-grid" data-username="{{username}}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/employees/employees-chart.js') }}" id="employees-chart" data-username="{{username}}"></script>
{% endblock %}

{% block content %}


<div class="mainContent">
  <h1 id="title">Employees</h1>
  
  <div class="tableContainer">
    <div id="table"></div>
  </div>

  <div class="chartAndFromContainer">
    <div class="formContainer">
      <form action="", novalidate, id="form">
        {{ form.hidden_tag() }}
  
        <div>
          <h2 id="formTitle">Add Employee</h2>
        </div>
  
        <div class="nameInputDiv">
          <span>{{form.firstName(placeholder='First Name')}}</span>
          <span>{{form.lastName(placeholder='Last Name')}}</span>
        </div>
  
        <div>
          {{form.email(placeholder='Email')}}
        </div>
  
        <div>
          {{form.phoneNumber(placeholder='Phone Number')}}
        </div>
  
        <div>
          {{form.salary(placeholder='Salary')}}
        </div>
  
  
        <div class="dateHiredInputDiv">
          <h6>Date Hired</h6>
          {{form.dateHired}}
        </div>
        
        <div class="birthdayInputDiv">
          <h6>Birthday</h6>
          {{form.birthday}}
        </div>
  
        <div class="clear"></div> <!--Stops position Div from over lapping with the dates -->
     
        <div class="positionInputDiv">
          <h6>Position</h6>
          {{form.position}}
        </div>

        <div class="departmentInputDiv">
          <h6>Department</h6>
          {{form.department}}
        </div>
  
        <div>
          {{form.submit()}}
        </div>
      
      </form>
    </div>
  
    <div class="chartsContainer">
      <h2 id="chartTitle">Salaries</h2>
      <canvas id="myChart"></canvas>
    </div>
  
  </div>
  
  <footer id="footer"><p>SquadSync @2023</p></footer>
  
</div>

{% endblock %}