{% extends 'base.html' %}

{% block title %}Positions{% endblock %}

{% block css %} 
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/positions.css') }}">
{% endblock %}

{% block content %}

<h1>Positions</h1>

<div class="tableContainer">
    <div id="table"></div>
</div>

<div class="formContainer">
  <form action="", method="PUT", novalidate id="form">

    <div class="formTitle">
      <h2>Add Position</h2>
    </div>

    {{ form.hidden_tag() }}

    <div class="titleDiv">
      {{form.title(placeholder='Title')}}
    </div>

    <div class="descriptionDiv">
      {{form.description(placeholder='Description')}}
    </div>

    <div class="basePayDiv">
      {{form.basePay(placeholder='Base Pay')}}
    </div>

    <div class="submitDiv">
      {{form.submit()}}
    </div>

  </form>
  <!-- <button type="button" class="btn btn-success btn-lg" id="addPosButton"> <i class="fa-solid fa-plus"></i> Add Positions</i></button> -->
</div>

<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script type="module">
    import { Grid, h } from "https://unpkg.com/gridjs?module";

    const editableCellAttributes = (data, row, col) => {
          if (row) {
            // return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
          }
          else {
            return {};
          }
      };

    new gridjs.Grid({
        columns: [
            { id: 'id', sort: false, 'hidden': true},
            { id: 'title', name: 'Title', resizable: true,'attributes': editableCellAttributes},
            { id: 'description', name: 'Description', sort: false, resizable: true,'attributes': editableCellAttributes},
            { id: 'basePay', name: 'Base Pay', formatter: (cell) => `$${cell}`, width: 200,resizable: true,'attributes': editableCellAttributes},
            
            //used to delete rows
            { id: 'delete', name: 'Delete', sort: false, width: 200,formatter: (cell, row) => {
                return h('button', {onClick: () =>{
                  console.log(row.cells[0]);
                  fetch('/{{username}}/positions/data', {
                    method: 'DELETE',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                      id: row.cells[0].data
                    }),
                  });
                }}, 'Delete');
                }
            }
        ], 
        server: {
          url: '/{{username}}/positions/data',
          method: 'GET',
          then: results => results.data,
          total: results => results.total,
        },
        search: true,
        sort: true,
        pagination: true,
        style: {
            th: {
                'background-color': '#198754',
                'color': 'white',
                'text-align': 'center'
            },
            td: {
            'text-align': 'center'
            }
        }
    }).render(document.getElementById('table'));

    let savedValue;

    table.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
          savedValue = ev.target.textContent;
        }
    });

    table.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
          if (savedValue !== ev.target.textContent) {
            // console.log(savedValue, ev.target.textContent);
            fetch('/{{username}}/positions/data', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                id: ev.target.dataset.elementId,
                [ev.target.dataset.columnId]: ev.target.textContent
              }),
            });
          }
          savedValue = undefined;
        }
    });

    //PUT Request
    document.getElementById('addPosButton').onClick = () =>{

    }

</script>
{% endblock %}