@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,600;0,9..40,1000;1,9..40,300&display=swap');
:root{
    --mainColour: #198754;
}

a{
    font-family: 'DM Sans', sans-serif;
}

.container-fluid{ 
    float: left;
    max-width: 12vw;
    margin-right: 1vw;
    position: fixed;
}

.sidebarLink{ 
    margin-top: 1vh;
}

#squadSync{
    margin-bottom: 2vh;
    text-decoration: underline;
}