<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="#" method="post" novalidate>
        <p>{{form.username.label}} <br>
            {{form.username(size=32)}} <br>

            {{form.password.label}} <br>
            {{form.password(size=32)}} 
        </p>
        
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>

    </form>
</body>
</html>