{% extends "logged_out_base.html" %}

{% block css %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
    <div  id="container">
        <form action="#" method="post" novalidate id="form">
            
            <h1 id="login">LOGIN</h1>

            <div id="username">
                {{form.username(placeholder='Username')}}
            </div>

            <div id="password">
                {{form.password(placeholder='Password')}} 
            </div>

            <div id="submitField">
                {{ form.submit()}}
            </div>

        </form>

        
        <div id="photo">
            <img src="{{ url_for('static',filename='images/test.png') }}" alt="Image of girl on laptop" id="loginImage">
        </div>

    </div>
{% endblock %}