{% extends "logged_out_base.html" %}

{% block css %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
    <div  id="container">
        <form action="#" method="post" novalidate id="form">
            
            <h1 id="login">Login</h1>

            <div id="username">
                {{form.username(placeholder='Username')}}
            </div>

            <div id="password">
                {{form.password(placeholder='Password')}} 
            </div>

            <div id="submitField">
                {{ form.submit()}}
            </div>
        </form>
        
        <div id="photo">

        </div>

    </div>
{% endblock %}